.Resource {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    font-size: medium;
}

.block {
    display: inline-block;
    margin: 10px;
    flex-basis: 100%;
    text-align: center;
}

.responsive {
    display: none;
}

#TotalCount {
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: large;
}

#End {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto
}

#mapDiv {
    position: absolute;
    top: 10%;
}

.SimonTxt {
    font-size: 12px;
}

@media(max-width: 800px) {
    .Resource {
        font-size: 11px;
        flex-basis: 33%;
    }
    .block {
        font-size: 11px;
        flex-basis: 33%;
    }
    .responsive {
        display: inline;
    }
    #mapDiv {
        position: absolute;
        right: 20%;
        top: 35%;
    }
    #TotalCount {
        position: fixed;
        left: 32%;
        top: 20px;
        transform: translate(-50%, -50%);
        margin: 0 auto;
    }
    #countdown {
        font-size: 12px;
    }
    #End {
        position: fixed;
        left: 30%;
        bottom: 20px;
        transform: translate(-50%, -50%);
        margin: 0 auto
    }
}